
@model List<Kitap>
<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Kitap Adı</th>
			<th scope="col">ISBN Numarası</th>
			<th scope="col">Sil</th>
			<th scope="col">Güncelle</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Title</td>
				<td>@item.ISBN</td>
				<td>
					<form asp-action="DeleteKitap" asp-controller="Kitap" method="post">
						<input name="id" value="@item.Id" hidden />
						<button class="btn btn-danger">
							<i class="fa-solid fa-trash"></i>
						</button>
					</form>
				</td>
				<td>
					<form asp-action="UpdateKitap" asp-controller="Kitap" method="get">
						<input name="id" value="@item.Id" hidden />
						<button class="btn btn-warning">
							<i class="fa-regular fa-pen-to-square"></i>
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
