
@model List<Yazar>

<table class="table">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Yazar Adı</th>
			<th scope="col">Yazarın Yaşı</th>
			<th scope="col"></th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.Age</td>
				<td>
					<form asp-action="DeleteYazar" asp-controller="Yazar" method="post">
						<input name="id" value="@item.Id" hidden />
						<button class="btn btn-danger">
							<i class="fa-solid fa-trash"></i>
						</button>
					</form>
				</td>
				<td>
					<form asp-action="UpdateYazar" asp-controller="Yazar" method="get">
						<input name="id" value="@item.Id" hidden />
						<button class="btn btn-warning">
							<i class="fa-regular fa-pen-to-square"></i>
						</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>